<html>
  <head>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>
    <script src="https://kit.fontawesome.com/79d72b0943.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anaheim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Heimdall - Protecting the rainbow bridge</title>
  </head>

  <body>
    <div class="MainGrid">
      <div><img src="img/logo.png" alt="Image of Heimdall" class="AppLogo"></div>
      <div class="AppTitle">Heimdall</div>
      <div></div>
      <div class="MainContent">
        <div id="app">
          <loading-bar v-if="loading"></loading-bar>
          <status-bar :status="status"></status-bar>

          <first-time-setup v-if="!loading && !status.is_configured">

        </div>
      </div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
